<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="main">
      <div class="main-head">
        <div class="main-index">Edit MyPage</div>
      </div>
      <%= form_with model: @user, url: user_registration_path, class: 'mypage-content', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <% if @user.icon.attached? %>
        <%= image_tag @user.icon.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0"), class: "user-icon" %>
      <% else %>
        <%= image_tag "user-icon.png", class:"user-icon" %>
      <% end %><br />
        <%= f.label :icon, class:"field-label" %><br />
        <%= f.file_field :icon, class:"field-input", autofocus: true %>
        <%= f.label :name, class:"field-label" %><br />
        <%= f.text_field :name, class:"field-input", autofocus: true %>

        <%= f.label :profile, class:"field-label" %><br />
        <%= f.text_area :profile, class:"profile-input", autofocus: true %>

        <%= f.submit "Save", class:"actions" %>

        <% end %>
    </div>
  </div>
</div>