<header>
  <div id="header-image"></div>
  <div class="logo"><%= link_to "Adventure", root_path %></div>
  <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

        <%= f.label :name, class:"field-label" %><br />
        <%= f.text_field :name, class:"field-input", autofocus: true %>

        <%= f.label :email, class:"field-label" %><br />
        <%= f.email_field :email, class:"field-input" %>

        <%= f.label :password, class:"field-label" %>
        <%= f.password_field :password, class:"field-input", autocomplete: "off" %>

        <%= f.label :password_confirmation, class:"field-label" %><br />
        <%= f.password_field :password_confirmation, class:"field-input", autocomplete: "off" %>

        <%= f.submit "Sign In", class:"actions" %>
        <div class="createaccount"><%= link_to "Create Account", new_user_registration_path %></div>
    <% end %>
</header>
