<header>
  <div id="header-image"></div>
  <div class="logo"><%= link_to "Adventure", root_path %></div>
  <%= form_with model: @user, url: new_user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    </div>


        <%= f.label :email, class:"field-label" %><br />
        <%= f.email_field :email, class:"field-input" %>

        <%= f.label :password, class:"field-label" %>
        <%= f.password_field :password, class:"field-input", autocomplete: "off" %>

        <%= f.submit "Sign In", class:"actions" %>
        <div class="createaccount"><%= link_to "Create Account", new_user_registration_path %></div>
    <% end %>
</header>
