  <div class="left-navigation">
    <div class="nav-logo">Adventure</div>
    <ul class="nav">
      <li><%= link_to "MyPage", mypage_room_path(current_user), class:"nav-mypage" %></li>
      <li><%= link_to "ChatRoom", chatroom_room_path(current_user), class:"nav-chatroom" %></li>
      <li><%= link_to "RoomSearch", roomsearch_room_path(current_user), class:"nav-roomsearch" %></li>
      <li><%= link_to "Todo", todo_room_path(current_user), class:"nav-todo" %></li>
      <li><%= link_to "Schedule", schedule_room_path(current_user), class:"nav-schedule" %></li>
      <li><%= link_to "Gallery", gallery_room_path(current_user), class:"nav-gallery" %></li>
    </ul>
    <div class="logout"><%= link_to "LogOut", destroy_user_session_path, method: :delete %></div>
  </div>