<div class="body">
  <%= render partial: 'left_navigation'%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="chatmain">
      <div class="main-head">
        <div class="main-index">ChatRoom</div>
        <div class="main-head-btn" ><%= link_to "Edit Room", edit_room_path %></div>
      </div>
      <div class="message-area" id="scroll-message">
        <% @messages.each do |message| %>
          <%= render partial: 'message',locals: { message: message }%>
        <% end %>
      </div>
    </div>
    <%= form_with model: [@room, @message], class:"message-form", local: true do |f| %>
      <%= f.text_field :content, class:"message-field", placeholder:"Message", autofocus: true %>
      <label class="input-image">
      <%= f.file_field :image, class: "upload-file" %>
      </label>
      <%= f.submit "", class:"send", id:"send" %>
    <% end %>
  </div>
</div>