<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="chatmain">
      <div class="main-head">
        <div class="main-index">ChatRoom</div>
        <div class="main-head-btns">
        <div class="main-head-btn" ><%= link_to "Edit Room", edit_room_path %></div>
        <% if @room.leader == current_user.id %>
          <div class="main-head-btn" ><%= link_to "Delete Room", room_path, method: :delete %></div>
        <% else %>
          <div class="main-head-btn" ><%= link_to "Exit Room", exit_room_path %></div>
        <% end %>
        </div>
      </div>
      <div class="main-area" id="scroll-message">
        <% @messages.each do |message| %>
        <div id="message-container">
          <%= render partial: 'message',locals: { message: message }%>
        </div>
        <% end %>
        <div id="add-message">
        </div>
      </div>
    </div>
    <%= form_with model: [@room, @message], class:"message-form" do |f| %>
      <%= f.text_field :content, class:"message-field", placeholder:"Message", autofocus: true %>
      <!-- <label class="input-image">
      <%= f.file_field :image, class: "upload-file" %>
      </label> -->
      <%= f.submit "", class:"send", id:"send" %>
    <% end %>
  </div>
</div>