<div class="body">
  <%= render partial: 'left_navigation'%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="chatmain">
      <div class="main-head">
        <div class="main-index">ChatRoom</div>
      </div>
      <% @messages.each do |message| %>
        <div class="content"><%= message.content %></div>

      <% end %>
    </div>
    <%= form_with model: [@room, @message], class:"message", local: true do |f| %>
      <%= f.text_field :content, class:"message-field", placeholder:"Message", autofocus: true %>
      <%= f.submit "", class:"send"%>
    <% end %>
  </div>
</div>