<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="main">
      <div class="main-head">
        <div class="main-index">AddRoom</div>
      </div>
      <div class="main-area">
      <%= form_with model: @room, id: 'addroom-form', class: 'addroom-form', local: true do |f| %>

        <div class="form-left">
        <%= render 'shared/error_messages', model: f.object %>
          <%= f.label :title, class:"field-label"%><br />
          <%= f.text_field :title, class:"field-input f", autofocus: true %><br />

          <%= f.label :budget, class:"field-label" %><br />
          <%= f.text_field :budget, class:"field-input f" %><br />

          <%= f.label :overview, class:"field-label" %><br />
          <%= f.text_area :overview, class:"field-input f overview" %><br />
        </div>
        <div class="form-right">
          <%= f.label :details, class:"field-label" %><br />
          <%= f.text_area :details, class:"field-input f details" %><br />
          <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
          <%= f.submit "Add", class:"actions" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>