<div class="body">
  <div class="leftNavigation">
    <div class="nav-logo">Adventure</div>
    <ul class="nav">
      <li class="nav-mypage"><%= link_to "MyPage", mypage_room_path(current_user) %></li>
      <li class="nav-chatroom"><%= link_to "ChatRoom", chatroom_room_path(current_user) %></li>
      <li class="nav-roomsearch"><%= link_to "RoomSearch", roomsearch_room_path(current_user) %></li>
      <li class="nav-todo"><%= link_to "Todo", todo_room_path(current_user) %></li>
      <li class="nav-schedule"><%= link_to "Schedule", schedule_room_path(current_user) %></li>
      <li class="nav-gallery"><%= link_to "Gallery", gallery_room_path(current_user) %></li>
    </ul>
    <div class="logout"><%= link_to "LogOut", destroy_user_session_path, method: :delete %></div>
  </div>
  <div class="content">
    <div class="contents-bg"></div>
  </div>
</div>